
<div class="box">
  <div class="box-header">
    <!--<h3 class="box-title">List of users</h3>-->
    <button class="btn btn-danger" (click)="addUser()"> Add User</button>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="list-user-table" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Username</th>
          <th>Password</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden">{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.address}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>{{user.role}}</td>
          <td style="white-space: nowrap">
            <button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
            <button class="btn btn-primary" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="hidden">Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Username</th>
          <th>Password</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
